/.git
/.gradle
/.settings
/.project
/target

/database/.settings
/database/build
/database/target
/database/.classpath
/database/.project

/models/.settings
/models/build
/models/target
/models/.classpath
/models/.project

/service/.settings
/service/build
/service/target
/service/.classpath
/service/.project

/ui/.settings
/ui/build
/ui/target
/ui/.classpath
/ui/.project

/ui/src/main/webapp/WEB-INF/appengine-web.xml
