.gcloudignore
.project
.classpath
.settings/

# Target directory for maven builds
target/
# Build directory for gradle builds
build/

# AWS configurations
src/main/webapp/.ebextensions/
# Sample appengine-web.xml
src/main/webapp/WEB-INF/appengine-web-dummy.xml
